.box{
    width:100px;
    height:100px;
    background:green;

    animation:moveBox 3s;
}

@keyframes moveBox{
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(300px);
    }
}